body {
  background: white;
  background-image: url('patterns/norwegian_rose_@2X.png');
  background-repeat: repeat;
}

#typing-container {
  background: #444;
  background-image: url('patterns/low_contrast_linen_@2X.png');
  background-repeat: repeat;
  box-shadow: 0px 0px 12px 4px black;
  border-radius: 1px;
}

.typing {
  color: #FFFAF0;
}

#keyboard-container {
  background: #444;
  background-image: url('patterns/low_contrast_linen_@2X.png');
  background-repeat: repeat;
  box-shadow: 0px 0px 12px 4px black;
  border-radius: 1px;
}

.key {
  background: #FFFAF0;
  border: 1px solid #808080;
  box-shadow: inset 0px 0px 2px 2px #D3D3D3;
}

.key.pressed {
  background: #E9967A;
  box-shadow: inset 0px 0px 8px 8px #CD5C5C;
}

.key>.label {
  color: #008000;
}

.key.pressed>.label {
  color: #006400;
}
