body {
  background: black;
  background-image: url('patterns/hexabump_@2X.png');
  background-repeat: repeat;
}

#typing-container {
  background: white;
  background-image: url('patterns/striped_lens_@2X.png');
  background-repeat: repeat;
  box-shadow: 0px 0px 8px 4px #AAC;
  border-radius: 4px;
}

.typing {
  color: #190030;
}

#keyboard-container {
  background: white;
  background-image: url('patterns/striped_lens_@2X.png');
  background-repeat: repeat;
  box-shadow: 0px 0px 8px 4px #AAC;
  border-radius: 4px;
}

.key {
  background: #190030;
  border: 1px solid #CCC;
  box-shadow: inset 0px 0px 2px 2px #668;
}

.key.pressed {
  background: #191970;
  box-shadow: inset 0px 0px 8px 8px #483D8B;
}

.key>.label {
  color: #8A2BE2;
}

.key.pressed>.label {
  color: #A537F0;
}
